includes:

parameters:
	level: 9
	bootstrapFiles:
		- vendor/autoload.php
	paths:
		- src
	tmpDir: temp
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Access to an undefined property Nette\\Application\\UI\\Template#'